
#wapper{  
    position: relative;   
    height: auto;           
    min-height: 100%    
}  
.footer{  
   position: absolute;  

   bottom: 0; 
   left:0;   
   height: 100px;         
   
   width:100%;
   margin-right:0;

}  
#main-content{  
   padding-bottom: 60px;  
}  

.footer-logo
{

height:50px;
width:50px;
}


.policyblock{
margin-left:90px;
width:85px;
height:85px;
float:left;
display:table-cell;
vertical-align:middle;
text-align:center;
}

.policy 
{
font-size:17px;
font-family:Buxton Sketch;

text-decoration:none;
display:inline-block;
line-height:60px;
}


.policy:active
{
color:#030303;
text-decoration:none;
}




.footer-nav{
font-size:17px;
font-weight:bold;
margin-left:280px;
font-family:Buxton Sketch;
text-transform:lowercase
}


.footer-ul
{
width:500px;
margin:0;
}

.footer-li
{
padding:0 20px;
display: block;
}

.madeblock{
width:200px;
height:85px;

vertical-align:middle;
float:left;

}

.made{
line-height:60px;

font-size:17px;
font-weight:bold;
display:inline-block;
}





.logoblock{
margin-right:290px;
float:right;
}




.addressblock{
width:300px;
height:12px;
margin:0;
margin-left:40%;
margin-top:70px;
}

.address{
width:300px;
font-size:11px;

}


